<title>My application</title>
  <h1>Hello, World!</h1>
    Result is {{result}}


  <form action="compute" method="post">
        <fieldset>
                <p>Candidate 1 Votes</p>
                <input type="text" name="input1" required="true">

                <p>Candidate 2 Votes</p>
                <input type="text" name="input2" required="true">

                <p>Number of delegates per district</p>
                <input type="text" name="input3" required="true">

                <p>Popular Vote System Needed?(Write yes or no)</p>
                <input type="text" name="input4" required="true">
                <input type="submit" value="submit">
        </fieldset>
  </form>
